        body {
            font-family: Arial, sans-serif;
            overflow: auto;
            background: #333;
        }
        .container {
            padding: 5px;
            text-align: center;
        }
        .quick-select {
            margin-top: 20px;
        }
        .quick-select input {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: text;
        }
        footer {
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            padding: 2px;
            font-size: 14px;
        }
        footer a {
            color: #e44444;
            text-decoration: none;
        }
        footer a.hl {
            color: #1062fe;
            text-decoration: none;
        }
        h4 {
            text-align: center;
            color: gray;
        }
        form {
            text-align: center;
            margin-top: 20px;
        }
        button, select, input[type="button"] {
            margin-top: 10px;
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 4px;
        }
        input[type="text"] {
            padding: 8px;
            border-radius: 4px;
        }
        button:hover {
            cursor: pointer;
        }
        .quick-pick-item {
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            background: #444;
            color: white;
            padding: 10px;
            border-radius: 4px;
        }
        .remove-button {
            color: red;
            font-weight: bold;
            margin-left: 5px;
            border: none;
            background: transparent;
            cursor: pointer;
        }
